<script src="../../../Scripts/bootstrap.js"></script>
<script src="../../../Scripts/jquery-1.10.2.js"></script>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        Manage Post
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addPost()">Add</button></div>
            <div *ngIf='posts && posts.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='posts && posts.length'>
                <thead>

                    <tr>
                        <th width="25px">
                            Title
                        </th>
                        <th width="50px" style="width:1000px" class="col-md-2">
                            Content
                        </th>

                        <th>
                            Username
                        </th>
                        <th>
                            Categoryname
                        </th>
                        <th>
                            Tag name
                        </th>
                        <th>
                            Date
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of posts">
                        <td width="25px" style="font-weight:bold ; width:200px;">{{p.Title}}</td>
                        <td width="50px" class="col-md-2">
                            {{p.Content}}
                        </td>
                        <td>{{p.username}}</td>
                        <td>{{p.Categoryname}}</td>

                        <td>
                            <ul>
                                <li *ngFor="let t of p.Tagname">
                                    {{t.Name}}
                                </li>
                            </ul>
                        </td>

                        <td>{{p.createdOn| date:'longDate'}}</td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editPost(p.Id)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deletePost(p.Id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(postFrm)" [formGroup]="postFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <div>
                    <span>Title*</span>
                    <input type="text" class="form-control" placeholder="Title" formControlName="Title">
                    <span>Content*</span>
                    <input type="text" class="form-control" placeholder="Content" formControlName="Content">
                    <span>Category</span>
                    <select [(ngModel)]="Category_Id" formControlName="Category_Id">
                        <option *ngFor="let c of categories"
                                [ngValue]="c.Id"
                                [selected]="c.Id">
                            {{c.Name}}
                        </option>
                    </select>
                    <span>Tags</span>
                    <select multiple [(ngModel)]="Tags" formControlName="Tags">
                        <option *ngFor="let c of tags"
                                [ngValue]="c.Id"
                                [selected]="c">
                            {{c.Name}}
                        </option>
                    </select>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="postFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>