@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @{
                IEnumerable<string> roles = TempData["roleName"] as IEnumerable<string>;
                var isAdmin = false;
                var isUser = true;
                if (roles != null)
                {
                    foreach (var role in roles)
                    {
                        if (role == "Admin")
                        {
                            isAdmin = true;
                        }
                        else if(role == "User")
                        {
                            isUser = true;
                        }
                    }
                }
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
                if(isUser==true && isAdmin==false)
                {
                    <li>
                        <a href="/UserAddPost/Index">Add Post</a>                      
                    </li>
                }
            <li>
                
                <!-- Split button -->
                <div class="btn-group" style="margin-top:10px;">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-user"></i></button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        @if (isAdmin == true)
                        {
                            <li><a href="/Home/Admin"> Admin</a></li>
                        }                                               
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out <i class="glyphicon glyphicon-log-out"></i> </a></li>
                    </ul>
                </div>
            </li>
            }
        </ul>
                                }
                            }

                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }
