<div style="" ng-hide="PostDetail.Id != '' ">
    <form>
        <div class="form-group">
            <span class="glyphicon glyphicon-search"></span> <input type="text" placeholder="Search By Title" ng-model="txtFilter" />
        </div>
    </form>
</div>
<div id="blogpagination" ng-hide="PostDetail.Id != '' ">  
    <div id="repeate" dir-paginate="p in filtertitle = (post | filter:{Title: txtFilter}) |itemsPerPage: 5 " current-page="currentPage" style="padding:5px;">
        <div style="border:2px solid black; margin-bottom:10px; width:690px;">
            <h3 style="font-weight:bold;text-transform: uppercase;">
                <a ng-click="GetPostContentById(post[ (($index) + (currentPage-1) * 5) ])">
                    {{p.Title}}
                </a>
            </h3>
            <p>Posted by <span style="font-weight:bold"> "{{p.username}}" </span> in <span style="font-weight:bold;"> {{p.Categoryname}} </span> on <span style="font-weight:bold"> {{ p.createdOn| date:'longDate'}}</span> </p>
            <p>{{p.partialcontent}}...</p>
        </div>
    </div>
    <div ng-hide="!post.length" style="float:left;">
        <div ng-show="!filtertitle.length" style="float:left; width:500px;">
            <h1>No Blogs are Available of this search keyword</h1>
        </div>
    </div>
    <div ng-show="!post.length" style="float:left; width:500px;">
        <h1>No Blogs are Available </h1>
    </div>
    <dir-pagination-controls max-size="5"
                             direction-links="true"
                             boundary-links="true"
                             ng-model="currentPage">
    </dir-pagination-controls>
</div>


<div id="fullcontent" ng-show="PostDetail.Id != '' ">
    <div style="border:2px solid black; margin:10px; width:690px;">
        <h1 style="font-weight:bold; color:red; align-content:center;text-transform: uppercase;">{{PostDetail.Title}}</h1>
        <p style="font-size:medium">Posted by <span style="font-weight:bold"> "{{PostDetail.username}}" </span> in <span style="font-weight:bold;"> {{PostDetail.Categoryname}} </span> on <span style="font-weight:bold"> {{ PostDetail.createdOn}}</span> </p>
        <p style="font-size:large">{{PostDetail.Content}}</p>
        <a ng-click="BackToIndex()"> << Back to blogs </a>
    </div>
</div>