
<h3 class="text-center text-danger">Posts</h3>
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-1" ng-hide="PostDetail.Id != '' ">
        <input type="text" placeholder="Type to filter" class="input-lg form-control" ng-model="txtFilter" />
        <br />
        <br />
        <a class="btn btn-default btn-primary btn-group-lg" style="float:right" href="#!/AddPost/"><span>Add Post</span></a>
        <br />
        <br />
        <table class="table table-striped table-responsive table-bordered">
            <thead>
               
                <tr>                    
                    <th width="25px">
                        Title
                    </th>
                    <th width="50px" style="width:1000px" class="col-md-2">
                        Content
                    </th>
                                        
                    <th>
                        Username
                    </th>
                    <th>
                        Categoryname
                    </th>
                    <th>
                        Tag name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Edit
                    </th>
                    <th width="5px">
                        Delete
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="p in post | filter:txtFilter">
                <td width="25px" style="font-weight:bold ; width:200px;">{{p.Title}}</td>
                <td width="50px" class="col-md-2">
                    {{p.Content}}
                </td>               
                <td>{{p.username}}</td>
                <td>{{p.Categoryname}}</td>
                
                <td>                                   
                    <ul>
                        <li ng-repeat="t in p.Tagname">
                           {{t.Name}}                                                         
                        </li>
                    </ul>
                </td>
                
                <td>{{p.createdOn| date:'longDate'}}</td>

                <td><a class="btn btn-primary btn-xs" ng-click="GetPostById(post[$index])"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td width="5px"><a class="btn btn-danger btn-xs" ng-click="DeletePost(p.Id)"> <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        </table>
    </div>

    <div class="row" ng-show="PostDetail.Id != '' ">
        <div style="text-align:center;"> <h3>Edit Post</h3> </div>
       
        <div class="col-md-6 col-md-offset-3">
            <form>
                <div hidden="hidden">
                    <input id="name" type="text" ng-model="PostDetail.Id" class="form-control" placeholder="Category name" required/>
                </div>
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input id="Title" type="text" ng-model="PostDetail.Title" class="form-control" placeholder="Title" required/>
                </div>
                <div class="form-group">
                    <label for="Content">Content</label>
                    <input id="Content" type="text" ng-model="PostDetail.Content" class="form-control" placeholder="Content" required/>
                </div>
                <div class="form-group">
                    <label for="inputname">Category</label>
                    <select ng-model="PostDetail.Category_Id"
                            ng-options="item.Id as item.Name for item in CategoryList" required>
                        <option value="">Select Category</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputname">Tags</label>
                    <select multiple ng-model="PostDetail.Tags"
                            ng-options="item.Name for item in TagList" required></select>
                </div>  
                <div>
                    <div style="float:left">
                        <button ng-click="UpdatePost()" class="btn">Save</button>
                    </div>
                    <div style="margin-left:50px; float:right">
                        <button ng-click="cancel()" class="btn">Cancel</button> 
                    </div>  
                </div>
            </form>
        </div>
    </div>
             
</div>

