
<div id="blogpagination">
    <div *ngIf='posts && posts.length==0' class="alert alert-info" role="alert">No record found!</div>
    <div *ngIf='posts && posts.length'>
        <div id="repeate" *ngFor="let p of posts" style="padding:5px;">
            <div style="border:2px solid black; margin-bottom:10px; width:500px;">
                <h3 style="font-weight:bold;text-transform: uppercase;">
                    <a>
                        {{p.Title}}
                    </a>
                </h3>
                <p>Posted by <span style="font-weight:bold"> "{{p.username}}" </span> in <span style="font-weight:bold;"> {{p.Categoryname}} </span> on <span style="font-weight:bold"> {{ p.createdOn| date:'longDate'}}</span> </p>
                <p>{{p.partialcontent}}...</p>
            </div>
        </div>
    </div>

</div>

