
<div id="main">

    <div id="blog" class="" style="float:left;margin-top:45px;text-align: justify;text-justify: inter-word;">
        <display-blog>

        </display-blog>
        <!--<display-blog-by-Category>

        </display-blog-by-Category>-->
    </div>

    <div id="sidebar" style="float:right;text-align: justify; margin-top:78px ; text-justify: inter-word;">
        <div id="Category" style="height:300px;width:400px; margin:10px; border:2px solid black; overflow:auto">
            <h3 style="text-align:center">Categories</h3>
            <display-category>
            
            </display-category>
        </div>
        <div id="tags" style="height:300px;width:400px; margin:10px; border:2px solid black;overflow:auto;">
            <h3 style="text-align:center">Tags</h3>
            <display-tags>

            </display-tags>
        </div>
    </div>
</div>