

<div class="row">
    <h1 class="text-center text-danger">Add Department</h1>
    <hr />

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input id="name" type="text" ng-model="DepartmentDetail.Name" class="form-control" placeholder="Department name" />
                </div>

                <button ng-click="addDep()" class="btn">Save</button>
            </form>
        </div>
    </div>
</div>