
@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>
<html>
<head>
    <base href="/src/">
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/src/systemjs.config.js"></script>
    <script>
        System.import('/src/app/main.js')
            .catch(function (err) { console.error(err); });
    </script>
    <title>Admin </title>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!--<my-app>Loading AppComponent content here ...</my-app>-->
    <user-app>Loading…<user-app>
</body>
</html>
<script src="../Scripts/jquery-1.10.2.js"></script>
<script src="../Scripts/bootstrap.min.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")