@{
    ViewBag.Title = "Home Page";
}

<meta charset="utf-8" />
<script src="../../Scripts/jquery-1.10.2.js"></script>
<script src="../../Scripts/angular.js"></script>
<script src="../../Scripts/bootstrap.js"></script>
<link href="../../Content/bootstrap.css" rel="stylesheet" />
<script src="../../Scripts/angular-route.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/route.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/DisplayCategoryController.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/DisplayTagController.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/DisplayPostController.js"></script>
<script src="~/AppAngular/AngularScripts/ServicesScript/Service.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/IndexController.js"></script>
<script src="~/Scripts/PaginationJs.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/angular-animate.js"></script>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div id="main" ng-app="MyApp" >
    
    <div id="blog" class="" style="float:left;margin-top:45px;text-align: justify;text-justify: inter-word;" ng-view>

    </div>
    <div ng-controller="IndexController" id="sidebar" style="float:right;text-align: justify; margin-top:78px ; text-justify: inter-word;" ng-hide="PostDetail.Id != '' ">
        <div id="Category" style="height:300px;width:400px; margin:10px; border:2px solid black; overflow:auto">
            <h3 style="text-align:center">Categories</h3>
            <div ng-repeat="c in categorylist">
                <ul>
                    <li><a href="#!/Category/{{c.Name}}/{{c.Id}}">{{c.Name}}</a></li>
                </ul>
            </div>
        </div>
        <div id="tags" style="height:300px;width:400px; margin:10px; border:2px solid black;overflow:auto;">
            <h3 style="text-align:center">Tags</h3>
            <div ng-repeat="t in taglist">
                <ul>
                    <li><a href="#!/Tag/{{t.Name}}/{{t.Id}}">{{t.Name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")