@{
    ViewBag.Title = "Home Page";
}


<meta charset="utf-8" />
<script src="../../Scripts/jquery-1.10.2.js"></script>
<script src="../../Scripts/angular.js"></script>
<script src="../../Scripts/bootstrap.js"></script>
<link href="../../Content/bootstrap.css" rel="stylesheet" />
<script src="../../Scripts/angular-route.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/route.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/DisplayCategoryController.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/DisplayTagController.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/DisplayPostController.js"></script>
<script src="~/AppAngular/AngularScripts/ServicesScript/Service.js"></script>
<script src="~/AppAngular/AngularScripts/ControllerScript/IndexController.js"></script>
<script src="~/Scripts/PaginationJs.js"></script>

<div id="main" ng-app="MyApp" ng-controller="IndexController">
    <div style="margin:10px;">
        <form>
            <div class="form-group">
                <input type="text" placeholder="Enter Title" ng-model="txtFilter" />
            </div>
        </form>
    </div>
    <div id="blog" class="" style="float:left">
        <div id="repeate" ng-repeat="p in post" style="padding:5px;">
            <div style="border:2px solid black; margin:10px; width:690px;">
                <h3 style="font-weight:bold">{{p.Title}}</h3>
                <p>Posted by <span style="font-weight:bold"> "{{p.username}}" </span> in <span style="font-weight:bold;"> {{p.Categoryname}} </span> on <span style="font-weight:bold"> {{ p.createdOn}}</span> </p>
                <p>{{p.Content}}</p>
            </div>
        </div>
    </div>
    <div id="sidebar" style="float:right">
        <div id="Category" style="height:300px;width:400px; margin:10px; border:2px solid black; overflow:auto">
            <h3>Category</h3>
            <div ng-repeat="c in categorylist">
                <ul>
                    <li><a ng-click="GetPostByCategoryId(c.Id)">{{c.Name}}</a></li>
                </ul>
            </div>
        </div>
        <div id="tags" style="height:300px;width:400px; margin:10px; border:2px solid black;overflow:auto;">
            <h3>Tags</h3>
            <div ng-repeat="t in taglist">

                <ul>
                    <li><a ng-click="GetPostByTagId(t.Id)">{{t.Name}}</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


