
@{
    ViewBag.Title = "Tag";
}

<!DOCTYPE html>
<html>
<head>
    <title>Tag</title>
    <base href="/src/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">   
</head>

<body>
    <!--<my-app>Loading AppComponent content here ...</my-app>-->
    <user-app>Loading…<user-app>
</body>
</html>
<script src="../Scripts/jquery-1.10.2.js"></script>
<script src="../Scripts/bootstrap.min.js"></script>

